<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Detection</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        #webcam-container {
            text-align: center;
        }

        #result-label {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div id="webcam-container">
        <img src="{{ url_for('video_feed') }}" width="640" height="480" alt="Sign Language Detection">
    </div>
</body>
</html>
